*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", monospace;
}

.app {
  display: grid;
  min-height: 100vh;
  background: linear-gradient(to right, skyblue, lightgreen);
}

